.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 104px);
    background: rgb(52, 52, 52);
    background: linear-gradient(
        156deg,
        rgba(52, 52, 52, 1) 0%,
        rgba(0, 166, 255, 1) 100%
    );
    transition: all 0.3s ease-in-out;
    &__form {
        margin: 200px;
        width: 400px;
        padding: 20px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 10px;
    }
    &__form:hover {
        transform: translate3D(0, -1px, 0) scale(1.03);
    }
    &__title {
        font-weight: 700;
        text-align: center;
        margin-bottom: 2rem;
    }
    &__form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    &__form-group a {
        text-decoration: none;
        color: #7c8791;
    }
    &__form-label {
        font-weight: 700;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    &__form-input {
        padding: 0 15px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 4px;
        border: none;
        border-bottom: 1px solid rgb(205, 209, 212);
        margin-right: 0.5rem;
        cursor: pointer;
        font-weight: 600;
        &:hover {
            background: rgb(245, 246, 247);
            transition: all 0.2s ease-in-out;
        }
        &:focus {
            outline: 2px solid #00a6ff;
        }
    }
    &__form-button {
        padding: 0 15px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        background: #00a6ff;
        border: 1px solid #00a6ff;
        color: white;
        &:hover {
            font-weight: 700;
        }
    }
}
