.listings-page {
    .listings-city {
        position: relative;
        background-color: #1b1b1b;
        &__title {
            color: white;
            font-weight: 700;
            font-size: 4rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
            opacity: 0.8;
        }
    }

    .listings-filter {
        display: flex;
        justify-content: center;
        align-items: center;
        &__wrapper {
            display: flex;
            background: white;
            padding: 20px;
            position: relative;
            transform: translate(0, -50%);
            border-radius: 5px;
        }
        &__option,
        &__button {
            padding: 0 15px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: 1px solid rgb(205, 209, 212);
            margin-right: 0.5rem;
            cursor: pointer;
            font-weight: 600;
            &:hover {
                background: rgb(245, 246, 247);
                transition: all 0.2s ease-in-out;
            }
        }

        &__button {
            margin-right: 0;
            border: 1px solid #00a6ff;
            &:hover {
                background: #00a6ff;
                color: white;
            }
        }

        .fa-caret-down {
            margin-left: 1rem;
        }
    }

    .listings-properties {
        img {
            width: 100%;
            height: 240px;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
        }
        &__item {
            display: block;
            padding: 10px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
            margin-bottom: 2rem;
            position: relative;
            color: #1b1b1b;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: #00a6ff;
            }
        }
        &__item-saved {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            color: #1b1b1b;
            position: absolute;
            right: 20px;
            top: 20px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover,
            &--active {
                background: #f33a6a;
                color: white;
            }
        }
        &__item-price {
            font-size: 2rem;
            font-weight: 700;
            display: block;
            margin-bottom: 0.5rem;
        }
        &__item-details {
            font-size: 1.1rem;
            display: block;
            color: #7c8791;
            margin-bottom: 0.5rem;
        }
        &__item-address {
            display: block;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
        }
        &__item-line {
            display: block;
            background: #7c8791;
            margin-bottom: 0.5rem;
            height: 1px;
        }
        &__item-owner {
            font-size: 0.9rem;
            color: #7c8791;
        }
    }
}
